.gif-card { background: #ececec; border: 1px solid #d0d0d0; }
.bg-pink { background-color: #a200ff !important; }
.color-pink { color: #a200ff !important; }
.color-green { color: #1dd400 !important; }
.color-orange { color: #ff8600 !important; }
.color-blue { color: #00c0ff !important; }
.bg-pink-bright { background-color: #ffdfdf !important; }
.bg-white { background-color: #fff !important; }
.black { font-weight: bold; }